@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Ödeme Onaylandı</h1>
        Sipariş No : @Model <br /><br />
    </div>
    <div class="col-12 text-center">
        <br />
        <h2>Siparişiniz alınmıştır!</h2> <br />
    </div>

</div> 